<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Child</title>
</head>
<body>
<h1>Edit Child</h1>
<div class="container">
    <form th:action="@{/parent/{parentId}/children/update/{childId}(parentId=${parent.id}, childId=${child.id})}" th:object="${Child}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required="required" /><br>

        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required="required" /><br>
        
        <label for="age">Age:</label>
        <input type="number" class="form-control" id="age" th:field="*{age}" required="required" /><br>
    </div>
   
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<form th:action="@{/parent/{parentId}/children/delete/{childId}(parentId=${parent.id}, childId=${child.id})}" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a href="/parent/{parentId}/children" class="btn btn-secondary">Back to Children</a>
<a href="/" class="btn btn-secondary">Back to Home Page</a>
</div>
</body>
</html>