<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Appointments</title>
<link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>

<body>

<h1>User Management</h1>

<div class="container">
<div>
     <h2>Add New Parent</h2>
    <form th:action="@{/api/kidsonwheels/parent}" th:object="${parent}" method="post">
        <label>Username:</label>
        <input type="text" name="userName" th:field="*{userName}" required/><br>
        
        <label>Password:</label>
        <input type="password" name="password" th:field="*{password}"/><br>
        
        <label>First Name:</label>
        <input type="text" name="firstName" th:field="*{firstName}" required/><br>
        
        <label>Last Name:</label>
        <input type="text" name="lastName" th:field="*{lastName}" required/><br>
        
        <label>Gender:</label>
        <select name="gender" th:field="*{gender}">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select><br>
        
        <label>Phone:</label>
        <input type="tel" name="phone" th:field="*{phone}"/><br>
        
        <label>Email:</label>
        <input type="email" name="email" th:field="*{email}" required/><br>
        
        <label>Address:</label>
        <input type="text" name="address" th:field="*{address}"/><br>
        
        <input type="submit" value="Add Parent" />
    </form>
    </div>
    
    <div>
    <h2>Search Parent</h2>
    
    </div>

</div>



    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="parent : ${parents}">
                <td th:text="${parent.id}"></td>
                <td th:text="${parent.userName}"></td>
                <td th:text="${parent.firstName}"></td>
                <td th:text="${parent.lastName}"></td>
                <td th:text="${parent.gender}"></td>
                <td th:text="${parent.phone}"></td>
                <td th:text="${parent.email}"></td>
                <td th:text="${parent.address}"></td>
            </tr>
        </tbody>
    </table>


</body>



















</html>